@{
    ViewBag.Title = "Contact";
}
<h2>My contact details</h2>

<address>
    <strong>Email:</strong>   <a href="mailto:paul.glavich@readify.net">paul.glavich@readify.net</a><br />
    <strong>Twitter:</strong> <text>@@glav</text>
</address>