@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DevOps in da house</h1>
    <p class="lead">Development, operations, QA, business and security teams working together in symbiotic harmony.</p>
    <p>Oh yes.</p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h2>Not just corporate speak</h2>
        <p>
            The team players do things differently, whilst the pioneers whiteboard outward-looking, value-adding, 
            granular and sustainable landscapes. A stellar and best-of-breed excellence reconceptualizes the result-driven, 
            agile, blended approaches, whereas the visionary manages our future-ready and prioritizing swim lanes.
        </p>
    </div>
    <div class="col-lg-6">
        <h2>Real business value</h2>
        <p>Can you afford not to adopt DevOps?</p>
    </div>
</div>